*~
*.cache
*.log
*.pid
tmp/**/*
.DS_Store
db/cstore/**
db/sphinx/**
doc/api
doc/app
doc/plugins
doc/*.dot
coverage/*
db/*.sqlite3
*.tmproj
*.flv
public/data/**
config/database.yml
*.zip
*.tgz
*.tar.gz
*.tar
*.tar.bz
*.tbz
*.psd
.sass-cache/
public/assets/
/main.js
